<% layout("./layouts/a_boilerplate.ejs") %>
<body class="row-8">
    <h1 class="col-6 offset-3 mt-3 fw-bolder mt-5 mb-5 text-center text-secondary">
    STUDY ROOM BOOKINGS
  </h1>
    <div class="d-grid gap-2 col-4 mx-auto mt-5">
  <a href="/admin/room" class="btn btn-outline-secondary mt-4" type="button">Add Rooms</a>
  <a href="/admin/room/manage" class="btn btn-outline-secondary mt-4" type="button">Manage Rooms</a>
  <a href="/admin/user" class="btn btn-outline-secondary mt-4" type="button">Manage Users</a>
</div>
</body>