<% layout("/layouts/boilerplate.ejs") %>
<body class="row-8">
    <h2 class="col-6 offset-3 mt-5 text-center">Book Your Room</h2>
    <hr class="col-6 offset-3 border-2">
    <div class="col-6 offset-3  mt-5">
        <form id="bookingForm" class="d-flex flex-column gap-4" action="/book" method="post">

        <label for="room" class="fw-medium">Select Room:</label>
        <select name="roomId" required>
            <option >-- Choose a Room --</option>
            <% for(let room of rooms){ %>
                <option value="<%= room._id %>"><%= room.name %></option>
            <% } %>
        </select>

        <div>
            <label for="date" class="fw-medium">Select Date:</label>
            <input type="date" id="date" name="date" required />
        </div>

        <div>
            <label for="startTime" class="fw-medium">Start Time:</label>
            <input type="time" id="startTime" name="stTime" required />
        </div>

        <div>
            <label for="endTime" class="fw-medium">End Time:</label>
            <input type="time" id="endTime" name="endTime" required />
        </div>

        <button class="btn btn-outline-success" type="submit">Book Room</button>
        </form>
    </div>
    
</body>