<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
        <div class="card shadow-lg p-4">
            <h3 class="text-center mb-4 text-primary fw-bold">Log In</h3>
            <form action="/login" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label text-white-50">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username" class="form-control" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label text-white-50">Password</label>
                    <input type="password" name="password" placeholder="Enter your password" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide your password.
                    </div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary fw-bold">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>