<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <h3 class="col-4 offset-4">Log In </h3>
    <div class="col-4 offset-4">
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter the username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Enter the password" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a Password.
                </div>
            </div>
            <button class="btn btn-success col-4 offset-4">Log In</button>
        </form>
    </div>
</div>